html, body, p, input, textarea, button, div, span {
	font-family: "eafont", "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
@font-face{
	font-style: normal;
	font-family: 'eafont';
	src: url('../font/eafont.ttf') format('truetype');
}

.page{
	transition: all 500ms;
} 
.page-enter{
	opacity: 0;
	transform: translate(50px, 0);
}
.page-leave-active {
  	opacity: 0;
  	transform: translate(-50px, 0);
}


*{
	margin: 0;
	padding: 0;
	font-size: 14px;
	letter-spacing: 0.4px;
	box-sizing: border-box;
	transition: background-color .3s, color .3s;
}

body{
	overflow-x: hidden;
	background: var(--color-bg-primary);
}
body::-webkit-scrollbar{
	width: 6px;
}
body::-webkit-scrollbar-thumb{
	background: #dbdbdb;
}
body::-webkit-scrollbar-track{
	background: #f6f6f6;
}

:root{
	--color-bg-primary: #ffffff;
	--color-bg-light: #eaeaea;

	
	--color-border-1: #eeeeee;
	--color-border-2: #f6f7f8;
	--color-border-3: #b9b9b9;
	
	--color-text-primary: #24292e;
	--color-text-1: #24292e;
	--color-text-2: #666;
	--color-text-3: #888;
	--color-text-4: #999;
	--color-text-5: #555;

	--color-red: #ff3600;
	--color-bar: #50bcb6;
	--color-pink: #EF6D57;
	--color-dark: #080808;
	--color-active: #0084ff;
}
.dark-mode{
	--color-bg-primary: #0d1117;

	--color-text-primary: #ccc;
	--color-text-1: #fff;
	--color-text-2: #ccc;
	--color-text-3: #ccc;
	--color-text-4: #666;
	--color-text-5: #888;
	
	--color-border-1: #30363d;
	--color-border-2: #1b1b1b;

	--color-red: #b92800;
}