html, body, p, input, textarea, button, div, span {
	font-family: "eafont", "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
@font-face{
	font-style: normal;
	font-family: 'eafont';
	src: url('../font/eafont.ttf') format('truetype');
}

.page{
	transition: all 500ms;
} 
.page-enter{
	opacity: 0;
	transform: translate(50px, 0);
}
.page-leave-active {
  	opacity: 0;
  	transform: translate(-50px, 0);
}

*{
	margin: 0;
	padding: 0;
	font-size: 14px;
	letter-spacing: 0.4px;
	box-sizing: border-box;
}
*, *::after, *::before{
	transition: all .3s;
}

body{
	overflow-x: hidden;
	background: var(--color-bg-primary);
}
body::-webkit-scrollbar{
	width: 6px;
}
body::-webkit-scrollbar-thumb{
	background: #dbdbdb;
}
body::-webkit-scrollbar-track{
	background: #f6f6f6;
}
.verify{
    filter: blur(5px);
    transition: none;
}

:root{
	--color-bg-primary: #ffffff;
	--color-bg-opacity: rgba(255, 255, 255, 0.9);

	--color-border-1: #eeeeee;
	--color-border-2: #f6f7f8;
	--color-border-3: #b9b9b9;
	--color-border-4: #F3FAFD;
	
	--color-text-1: #24292e;
	--color-text-2: #666;
	--color-text-3: #888;
	--color-text-4: #999;
	--color-text-5: #555;
	--color-text-6: #5b6773;
	--color-text-7: #024180;

	--color-shadw-1: #f0f9ff;

	--color-red: #ff3600;
	--color-bar: #50bcb6;
	--color-pink: #EF6D57;
	--color-dark: #080808;
	--color-active: #0084ff;
}
.dark-mode{
	--color-bg-primary: #0d1117;
	--color-bg-opacity: rgba(0, 0, 0, 0.9);

	--color-text-1: #fff;
	--color-text-2: #ccc;
	--color-text-3: #ccc;
	--color-text-4: #666;
	--color-text-5: #888;
	--color-text-6: #fff;
	--color-text-7: #fff;
	
	--color-shadw-1: rgba(0,0,0,0);

	--color-border-1: #30363d;
	--color-border-2: #1b1b1b;
	--color-border-4: #1b1b1b;

	/* --color-red: #b92800; */
	--color-red: #ff3600;
	--color-bar: #50bcb6;
	--color-pink: #EF6D57;
	--color-dark: #080808;
	--color-active: #0084ff;
}

.hljs{display:block;overflow-x:auto;padding:0.5em;background:#23241f}.hljs,.hljs-tag,.hljs-subst{color:#f8f8f2}.hljs-strong,.hljs-emphasis{color:#a8a8a2}.hljs-bullet,.hljs-quote,.hljs-number,.hljs-regexp,.hljs-literal,.hljs-link{color:#ae81ff}.hljs-code,.hljs-title,.hljs-section,.hljs-selector-class{color:#a6e22e}.hljs-strong{font-weight:bold}.hljs-emphasis{font-style:italic}.hljs-keyword,.hljs-selector-tag,.hljs-name,.hljs-attr{color:#f92672}.hljs-symbol,.hljs-attribute{color:#66d9ef}.hljs-params,.hljs-class .hljs-title{color:#f8f8f2}.hljs-string,.hljs-type,.hljs-built_in,.hljs-builtin-name,.hljs-selector-id,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-addition,.hljs-variable,.hljs-template-variable{color:#e6db74}.hljs-comment,.hljs-deletion,.hljs-meta{color:#75715e}