<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<script>

const img = "https://image.raindays.cn/Myself-Resources/coverPictureOriginal.png"


const canvas = document.createElement('canvas')

canvas.width = 300
canvas.height = 200


const context = canvas.getContext('2d')

const image = new Image()
image.src = img
image.onload = function () {
    context.drawImage(image, 0, 0, 300, 200)
    document.body.appendChild(canvas)

    const canvass = document.createElement('canvas')
    const ctx = canvass.getContext('2d')


    let PL_Size = 40,
        radius = 4,
        X = '',
        Y = '',
        padding = 100;

    let MinN_X = padding + PL_Size;
    let MaxN_X = 300 - padding - PL_Size - PL_Size / 6;
    let MaxN_Y = padding;
    let MinN_Y = 200 - padding - PL_Size - PL_Size / 6;
    let d = PL_Size / 3;

    X = Math.round(Math.random() * (MaxN_X - PL_Size) + MinN_X);
    Y = Math.round(Math.random() * MaxN_Y + MinN_Y);

    ctx.globalCompositeOperation = "xor";
    // ctx.shadowBlur = 10;
    // ctx.shadowColor = "var(--color-bg-primary)";
    // ctx.shadowOffsetX = 3;
    // ctx.shadowOffsetY = 3;
    ctx.fillStyle = "rgba(255,255,255)";
    ctx.beginPath();
    // ctx.lineWidth = "1";
    ctx.strokeStyle = "rgba(0,0,0,0)";

    ctx.moveTo(X, Y)
	ctx.lineTo(X + d, Y)
    ctx.bezierCurveTo(X + d, Y - d, X + 2 * d, Y - d, X + 2 * d, Y)
    ctx.lineTo(X + 3 * d, Y)
    ctx.lineTo(X + 3 * d, Y + d)
    ctx.bezierCurveTo(X + 2 * d, Y + d, X + 2 * d, Y + 2 * d, X + 3 * d, Y + 2 * d)
    ctx.lineTo(X + 3 * d, Y + 3 * d)
    ctx.lineTo(X, Y + 3 * d)
    ctx.closePath();
    ctx.stroke();
    ctx.fill();

    document.body.appendChild(canvass)

}
</script>
</body>
</html>